/* Reset e basi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8fafc;
    color: #333;
    padding: 0 10%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-links {
    display: none; /* Nasconde il menu */
    position: absolute;
    top: 60px;    /* Regola in base all'altezza del tuo header */
    right: 10%;   /* Allinea con il padding del tuo body */
    background-color: white;
    list-style: none;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 200px;
}

.nav-links li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.nav-links li:last-child {
    border-bottom: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* LA CLASSE MAGICA: Quando questa classe viene aggiunta, il menu appare */
.nav-links.active {
    display: block;
}

/* Categorie */
.categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1px 0px;
    max-width: 800px;
    flex: 560px;
    flex-wrap: wrap;
}

.category-item {
    text-align: left;
    cursor: pointer;
    margin: 0px 10px;
}

.category-item .icon {
    font-size: 2rem;
    margin-bottom: 0px;
}

.category-item h3 {
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .categories {
        padding: 0px 50px;
    }
}

@media (max-width: 900px) {
  .logo {
    order: 0;     /* Rimane il primo */
  }

   .menu-icon{
    order: 1;     /* Diventa il secondo visualmente */
  }

  .categories {
    order: 2;     /* Diventa l'ultimo visualmente */
    padding: 0px 0px;
    padding-top: 10px;
    gap: 20px;
  }
}